Importing data

In [1]:
import pandas as pd

In [2]:
ds=pd.read_excel(r"C:\Users\Dhyalan\Desktop\Crude Oil Prices Daily1.xlsx")

In [3]:
ds.shape

(8223, 2)

In [4]:
ds.head()

        Date  Closing Value
0 1986-01-02          25.56
1 1986-01-03          26.00
2 1986-01-06          26.53
3 1986-01-07          25.85
4 1986-01-08          25.87